[submodule "src/libs/qads/Qt-Advanced-Docking-System"]
	path = src/libs/qads/Qt-Advanced-Docking-System
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
[submodule "src/libs/qsseditor/qsseditor-src"]
	path = src/libs/qsseditor/qsseditor-src
	url = https://gitee.com/icanpool/qsseditor.git
