/***************************************************
    name 	: qlite flat dark demo
    author 	: maminjie (canpool@163.com)
*****************************************************/

LiteModeBar {
}

LiteModeBar QToolButton#tab {
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: transparent;
}

LiteModeBar QToolButton#tab:pressed,
LiteModeBar QToolButton#tab:checked {
    border-left-color: red;
}

LiteTabWidget[tabPosition="3"] {
}

LiteTabWidget[tabPosition="0"] QToolButton#tab,
LiteTabWidget[tabPosition="1"] QToolButton#tab {
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: transparent;
}

LiteTabWidget[tabPosition="0"] QToolButton#tab:pressed,
LiteTabWidget[tabPosition="0"] QToolButton#tab:checked {
    border-top-color: red;
}

LiteTabWidget[tabPosition="1"] QToolButton#tab:pressed,
LiteTabWidget[tabPosition="1"] QToolButton#tab:checked {
    border-bottom-color: red;
}

LiteTabWidget[tabPosition="2"] QToolButton#tab,
LiteTabWidget[tabPosition="3"] QToolButton#tab {
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: transparent;
}

LiteTabWidget[tabPosition="2"] QToolButton#tab:pressed,
LiteTabWidget[tabPosition="2"] QToolButton#tab:checked {
    border-left-color: red;
}

LiteTabWidget[tabPosition="3"] QToolButton#tab:pressed,
LiteTabWidget[tabPosition="3"] QToolButton#tab:checked {
    border-right-color: red;
}

QWidget#titlebar QToolButton {
    width: 22px;
    height: 18px;
}

QWidget#titlebar QToolButton#close,
QWidget#titlebar QToolButton#minimize,
QWidget#titlebar QToolButton#maximize {
    width: 32px;
    height: 18px;
}

QWidget#titlebar QToolButton#close:hover {
    background: rgba(207, 0, 0, 230);   
}

QWidget#titlebar QToolButton#close:pressed {
    background: rgba(207, 0, 0, 150);
}

QWidget#titlebar QToolButton::menu-button {
/*    image: none;*/
}

LiteDialog QWidget#centerwidget:active {
    background: #2e2f30;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #1883d7;
}
