/* start ribbon set*/

Qx--RibbonWindow {
  background-color: white;
  border: 1px solid #707070;
}

/*RibbonBar*/

Qx--RibbonBar {
  color: white;
  background-color: #2B579A;
  border: solid #707070;
  border-width: 1px 1px 0px 1px;
}

/*RibbonTabBar*/

Qx--RibbonTabBar {
  background-color: transparent;
}

/*
高清屏幕不能使用px
Qx--RibbonTabBar::tab {
  color: #5779af;
  border: none;
  background: transparent;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 1em;
  margin-bottom: 0px;
  min-width: 60px;
  max-width: 200px;
  min-height: 25px;
  max-height: 25px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}
*/

Qx--RibbonTabBar::tab {
  color: #f0f0f0;
  border: none;
  background: transparent;
  margin-top: 0em;
  margin-right: 0pt;
  margin-left: 0.2em;
  margin-bottom: 0em;
  min-width: 2em;
  /*max-width: 10em;*/
  min-height: 1.2em;
  max-height: 1.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

Qx--RibbonTabBar::tab:selected,
Qx--RibbonTabBar::tab:hover {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

Qx--RibbonTabBar::tab:selected {
  color: #000000;
  border: 1px solid #c5d2e0;
  background: white;
  border-bottom-color: #FFFFFF;
}

Qx--RibbonTabBar::tab:hover:!selected {
  border:1px solid #c5d2e0;
  border-bottom-color: #FFFFFF;
  color: #ffffff;
}

Qx--RibbonTabBar::tab:!selected {
  margin-top: 0px;
}

/*RibbonStackedWidget*/

Qx--RibbonStackedWidget {
  background-color: white;
  border: 1pt solid #c5d2e0;
  border-top-width: 0px;
}

Qx--RibbonStackedWidget:focus {
  outline: none;
}

/*RibbonPage*/

Qx--RibbonPage:focus {
  outline: none;
}

Qx--RibbonPage {
  background-color: #fcfdfe;
}

/*RibbonGroup*/

Qx--RibbonGroup {
  background-color: white;
  border: 0px;
}

/*RibbonGroupOptionButton*/

Qx--RibbonGroupOptionButton {
  background-color: transparent;
  color: #333;
}

Qx--RibbonGroupOptionButton:hover {
  background-color: #cee7fc;
  border: 0px;
}

Qx--RibbonGroupOptionButton {
  qproperty-icon: url(:/image/res/ribbonGroupOptionButton.png);
}

/*RibbonGallery*/

Qx--RibbonGallery {
  border: 1px solid #c2d0df;
  background-color: transparent;
  color: #333;
}

/*RibbonGalleryGroup*/

Qx--RibbonGalleryGroup {
  show-decoration-selected: 1;
  background-color: transparent;
  color: #333;
  border: 1px solid #c2d0df;
}

Qx--RibbonGalleryGroup::item:selected {
  background-color: #9ed2f9;
  color: black;
}

Qx--RibbonGalleryGroup::item:hover {
  border: 1px solid #badffa;
  background-color: #cee7fc;
}

/*RibbonGalleryViewport*/

Qx--RibbonGalleryViewport {
  background-color: white;
}

/*RibbonButtonGroup*/

Qx--RibbonButtonGroup {
  background-color: transparent;
}

Qx--RibbonButtonGroup#qx_RibbonButtonGroup QWidget {
  background-color: transparent;
}

Qx--RibbonButtonGroup#qx_RibbonButtonGroup Qx--RibbonButton {
  color: white;
}

Qx--RibbonButtonGroup#qx_RibbonButtonGroup Qx--RibbonButton:hover,
Qx--RibbonButtonGroup#qx_RibbonButtonGroup Qx--RibbonButton:focus {
  border: 1px solid #124078;
  background-color: #124078;
}

Qx--RibbonButtonGroup#qx_RibbonButtonGroup Qx--RibbonButton:pressed,
Qx--RibbonButtonGroup#qx_RibbonButtonGroup Qx--RibbonButton:checked {
  border: 1px solid #002050;
  background-color: #002050;
}

Qx--RibbonGroup > Qx--RibbonButtonGroup {
  border: 1pt solid #c2d0df;
}

/*RibbonQuickAccessBar*/

Qx--RibbonQuickAccessBar {
  background-color: #cee8fc;
}

Qx--QuickAccessBar {
  background-color: transparent;
}

Qx--QuickAccessBar QToolButton {
  border: none;
  color: white;
}

Qx--QuickAccessBar QToolButton:hover,
Qx--QuickAccessBar QToolButton:focus {
  background-color: #124078;
}

Qx--QuickAccessBar QToolButton:pressed,
Qx--QuickAccessBar QToolButton:checked {
  background-color: #002050;
}

Qx--QuickAccessBar QToolButton {
  width: 18px;
  height: 18px;
}

Qx--QuickAccessBar QToolButton[popupMode="1"] {
  padding-right: 12px;
}

Qx--QuickAccessBar QAbstractButton {
  padding: 0px;
}

Qx--QuickAccessBar QToolButton#qx_QuickAccessButton::menu-indicator {
  width: 8px;
  height: 8px;
}

/*RibbonCtrlContainer*/

Qx--RibbonCtrlContainer {
  background-color: transparent;
}

/*RibbonApplicationButton*/

QAbstractButton#qx_RibbonApplicationButton {
  color: white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #2b579a;
}

QAbstractButton#qx_RibbonApplicationButton:hover {
  background-color: #124078;
}

QAbstractButton#qx_RibbonApplicationButton:pressed,
QAbstractButton#qx_RibbonApplicationButton:checked {
  background-color: #002050;
}

QAbstractButton#qx_RibbonApplicationButton:focus {
  outline: none;
}

/* QAbstractButton#qx_RibbonApplicationButton::menu-indicator {
  image: none;
} */

/*RibbonButton*/

Qx--RibbonButton {
  border: 1px solid transparent;
  color: #333;
  background-color: white;
}

Qx--RibbonButton:focus {
  border: 1px solid #b9defa;
  color: #333;
  background-color: #fcfdfe;
}

Qx--RibbonButton:pressed {
  color: #000;
  border: 1px solid#269bf4;
  background-color: #9ed2f9;
}

Qx--RibbonButton:checked {
  color: #333;
  border: 1px solid #b9defa;
  background-color: #cee8fc;
}

Qx--RibbonButton:hover {
  color: #000;
  border: 1px solid #badffa;
  background-color: #cee7fc;
}

/*RibbonControlButton*/

Qx--RibbonControlButton {
  background-color: transparent;
  border: 1px solid transparent;
  color: #333;
}

Qx--RibbonControlButton:pressed {
  border: 1px solid #269bf4;
  background-color: #9ed2f9;
}

Qx--RibbonControlButton:checked {
  border: 1px solid #b9defa;
  background-color: #cee8fc;
}

Qx--RibbonControlButton:hover {
  border: 1px solid #badffa;
  background-color: #cee7fc;
}

Qx--RibbonControlButton#RibbonGalleryButtonUp, #RibbonGalleryButtonDown, #RibbonGalleryButtonMore {
  border: 1px solid #cee8fc;
}

Qx--RibbonControlButton#RibbonGalleryButtonUp {
  qproperty-icon: url(:/image/res/ArrowUp.png);
}

Qx--RibbonControlButton#RibbonGalleryButtonDown {
  qproperty-icon: url(:/image/res/ArrowDown.png);
}

Qx--RibbonControlButton#RibbonGalleryButtonMore {
  qproperty-icon: url(:/image/res/ArrowMore.png);
}

Qx--RibbonControlButton#RibbonBarHideGroupButton {
  border: 1px solid transparent;
}

Qx--RibbonControlButton#RibbonBarHideGroupButton {
  titlebar-shade-icon: url(:/image/res/lighter/Titlebar_Shade.png);
  titlebar-unshade-icon: url(:/image/res/lighter/Titlebar_Unshade.png);
}

Qx--RibbonControlButton#RibbonBarHideGroupButton:hover {
  background-color: #124078;
}

Qx--RibbonControlButton#RibbonBarHideGroupButton:pressed,
Qx--RibbonControlButton#RibbonBarHideGroupButton:checked {
  background-color: #002050;
}

/*RibbonMenu*/

Qx--RibbonMenu {
  color: #333;
  background-color: #FCFCFC;
  border: 1px solid #c2d0df;
}

Qx--RibbonMenu::item {
  padding: 5px 10px 5px 20px;
  background-color: transparent;
}

Qx--RibbonMenu::item:selected {
  background-color: #cee8fc;
}

Qx--RibbonMenu::item:hover {
  color: #000;
  background-color: #cee7fc;
  border: 1px solid #badffa;
}

Qx--RibbonMenu::icon {
  margin-left: 1px;
}

/*RibbonLineEdit*/

Qx--RibbonLineEdit {
  border: 1px solid #C0C2C4;
  background: #FFF;
  selection-background-color: #9BBBF7;
  selection-color: #000;
}

/*RibbonComboBox*/

Qx--RibbonComboBox {
  border: 1px solid #c2d0df;
}

Qx--RibbonComboBox:hover {
  border: 1px solid #269bf4;
  color: #000;
}

Qx--RibbonComboBox:editable {
  color: #000;
  background: white;
  selection-background-color: #9BBBF7;
  selection-color: #000;
}

Qx--RibbonComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 15px;
  border-left: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

Qx--RibbonComboBox::drop-down:hover {
  border: 1px solid #FDEEB3;
  background-color: #9ed2f9;
}

Qx--RibbonComboBox::down-arrow {
  image: url(:/image/res/ArrowDown.png);
}

/*RibbonSeparator*/

Qx--RibbonSeparator {
  /*background-color: transparent;*/
  background-color: white;
}

Qx--RibbonPageScrollButton {
  border: 0px solid #c5d2e0;
  color: #333;
  background-color: white;
}

Qx--RibbonPageScrollButton[arrowType="3"] {
  border-right-width: 1px;
}

Qx--RibbonPageScrollButton[arrowType="4"] {
  border-left-width: 1px;
}

Qx--RibbonPageScrollButton:hover {
  color: #000000;
  background-color: #cee7fc;
}

Qx--WindowToolButton {
  background-color: transparent;
  border: none;
}

Qx--WindowToolButton:focus {
  outline: none;
}

Qx--WindowToolButton#qx_MinimizeWindowButton {
  image: url(:/image/res/lighter/Titlebar_Min.png);
}

Qx--WindowToolButton#qx_MaximizeWindowButton {
  image: url(:/image/res/lighter/Titlebar_Max.png);
}

Qx--WindowToolButton#qx_MaximizeWindowButton:checked {
  image: url(:/image/res/lighter/Titlebar_Normal.png);
}

Qx--WindowToolButton#qx_MinimizeWindowButton:hover,#qx_MaximizeWindowButton:hover {
  background-color: #124078;
}

Qx--WindowToolButton#qx_MinimizeWindowButton:pressed,#qx_MaximizeWindowButton:pressed {
  background-color: #002050;
}

Qx--WindowToolButton#qx_CloseWindowButton {
  image: url(:/image/res/lighter/Titlebar_Close.png);
}

Qx--WindowToolButton#qx_CloseWindowButton:hover {
  background-color: #e81123;
  image: url(:/image/res/lighter/Titlebar_Close_Hover.png);
}

Qx--WindowToolButton#qx_CloseWindowButton:pressed {
  background-color: #f1707a;
  image: url(:/image/res/lighter/Titlebar_Close_Hover.png);
}
